
.carouselImg{
    height:500px;
    object-fit: fill;
}
.carouselSection{
    display: grid;
    place-items: center;
}
.Cpost {
    width: 70%;
}
.postTitle{
    color: #fff;
    background-color: red;
    border-radius: 0px 50%;
    text-align: center;
    border: #fff ridge 3px;
    font-weight: 900;
    width: 80%;
}
.GettingStarted{
    margin-top: 4px;
    border-top: #fff  solid  2px;
    width: 95%;
    place-items: center;
   
}
.portraitText{
    border: #fff solid 3px;
   background-color: red;
    padding: 6px;
    font-weight: 900;
    width: 1000px;
    text-align: center;
}


.btn-danger{
    width: 300px !important;
}