
.Cpost{
    object-fit: cover;
   
}
.carouselSection{
    display: grid;
    place-items: center;
}
.carouselSection2{
    display: grid;
    place-items: end;
}

.carouselSection3{
    display: grid;
    place-items: start;
}

@media (min-width: 300px) and (max-width: 633px) {
    .Cpost {
      width: 250px;
      height: 70px;
    }
}
@media  (min-width: 634px) and  (max-width: 1087px) {
    .Cpost {
      width: 600px;
      height: 100px;
    }
}


@media (min-width: 1088px) and (max-width: 1920px) {
    .Cpost {
        height: 250px;
        width: 1000px;
    }
}
@media (min-width: 1921px) and (max-width: 3920px) {
    .Cpost {
        height: 450px;
        width: 1900px;
    }
}
@media (min-width: 3920px) and (max-width: 7920px) {
    .Cpost {
        height: 950px;
        width: 4900px;
    }
}